@font-face {
    font-family: 'GameOfThrones';
    src: url('../../../public/GameofThrones.ttf') format('woff');
  }
  
  body {
  font-family: 'GameOfThrones', sans-serif;
  }

  .detalleCasas {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .imgYnom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  h2 {
    margin: 15px;
  }
  
  .horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  
  }
  
  .group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:first baseline;
    width: 100%;
    margin: 0 auto; 
  }
  
  h3 {
    margin: 15px; 
  }
  
  .alianzas,
  .religiones {
    list-style-type: none;
    
    padding: 10px;
    margin: 10px; 
    
  }
  
  .alianzas li,
  .religiones li {
    margin: 5px;
    font-family: sans-serif;
  }
  
  p {
    margin: 10px; 
    font-family: sans-serif;
  }
  