.flags {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
}

.band_img {
  width: 50px;
  height: 33px;
  border-radius: 1px;
  aspect-ratio: 16/9;
}

 
.band_btn{
  border: none;
  background: none;
  cursor: pointer;
 }
